.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



.input__password{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 60%;
  height: 400px;
  border-radius: 20px;
  margin-top: 20px;
}
.input__password button,input{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 10px;
  padding-left: 15px;
  font-size: 17px;
}
button{
  cursor: pointer;
}